// _variables.scss
$primary-color: #ff5634;
$text-color: #242424;
$font-family: 'Arial, sans-serif';
$color-text: #fff;
$border-color: black;
$background-color: #fff;
$hover-color: #cc2c0ce8;
$section-text-color: #121212;
$paragraph-text-color: rgb(134, 134, 134);
